function Point.new 0
push constant 2
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push pointer 0
return
function Point.getX 0
push argument 0
pop pointer 0
push this 0
return
function Point.getY 0
push argument 0
pop pointer 0
push this 1
return
function Point.setX 0
push argument 0
pop pointer 0
push argument 1
pop this 0
push constant 0
return
function Point.setY 0
push argument 0
pop pointer 0
push argument 1
pop this 1
push constant 0
return
function Point.equal 0
push argument 0
pop pointer 0
push this 0
push argument 1
call Point.getX 1
eq
push this 1
push argument 1
call Point.getY 1
eq
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
return
label IF_FALSE0
push constant 0
return
function Point.print 0
push argument 0
pop pointer 0
push this 0
call Output.printInt 1
pop temp 0
push constant 44
call Output.printChar 1
pop temp 0
push this 1
call Output.printInt 1
pop temp 0
call Output.println 0
pop temp 0
push constant 0
return
function Point.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Point.whereIs 2
push argument 0
pop pointer 0
push argument 1
call Point.getX 1
push this 0
sub
pop local 0
push argument 1
call Point.getY 1
push this 1
sub
pop local 1
push local 1
push constant 0
eq
push local 0
push constant 0
gt
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 1
return
label IF_FALSE0
push local 1
push constant 0
eq
push local 0
push constant 0
lt
and
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 3
return
label IF_FALSE1
push local 1
push constant 0
gt
push local 0
push constant 0
eq
and
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 2
return
label IF_FALSE2
push local 1
push constant 0
lt
push local 0
push constant 0
eq
and
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 0
return
label IF_FALSE3
push constant 5
return
